<div class="modal-response" ng-controller="ModalController">
	<header class="box-title">
		<div class="modal-btn-close" ng-click="closeModal()">
		    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve"><line fill="none" stroke-width="2" stroke="#FFFFFF" stroke-miterlimit="10" x1="6.663" y1="6.545" x2="33.836" y2="33.718"></line><line fill="none" stroke-width="2" stroke="#FFFFFF" stroke-miterlimit="10" x1="33.836" y1="6.545" x2="6.663" y2="33.718"></line></svg>
		</div>
		<h3 class="title">Resultado de busca...</h3>
	</header>
    <div class="modal-form-success">
    	<h3 class="msg-success">...</h3>
    </div>
</div>
