<article class="home" >
	<div class="center-view">
		<div class="main-title">
			<h1 class="title"></h1>
		</div>
		<div class="maps-box"></div>
		<select id="travel-mode">
			<option value="DRIVING">Driving</option>
			<option value="WALKING">Walking</option>
			<option value="BICYCLING">Bicycling</option>
			<option value="TRANSIT">Transit</option>
		</select>
		<div id="travel-route"></div>
		<div class="result-routes">
			<h3 class="title">Partida: </h3>
			<p class="desc start"></p>
			<h3 class="title">Parada 1: </h3>
			<p class="desc stop-one"></p>
			<h3 class="title">Parada 2: </h3>
			<p class="desc stop-two"></p>
			<h3 class="title">Chegada: </h3>
			<p class="desc dest"></p>
			<h3 class="title">Distância e tempo previsto: </h3>
			<p class="desc dist"></p>
		</div>
	</div>
</article>