html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'BebasNeue';
  src: url("../fonts/BebasNeue-webfont.eot");
  src: url("../fonts/BebasNeue-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeue-webfont.woff") format("woff"), url("../fonts/BebasNeue-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body, html {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-family: BebasNeue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  background-color: #000;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1023px) {
  body, html {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.clear {
  clear: both;
}

#wrap {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 1920px;
  overflow: hidden;
  clear: both;
}
#wrap #content-page {
  position: relative;
  width: 100%;
  height: 100vh;
}
#wrap #content-page .center-view {
  width: 100%;
  height: 100%;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.center-y {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center-x {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.center {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.float-left {
  display: inline;
  float: left;
}

.float-right {
  display: inline;
  float: right;
}

.relative {
  position: relative !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.text-underline {
  text-decoration: underline;
}

.inline-block {
  display: inline-block !important;
}

.block {
  display: block !important;
}

.txt-center {
  text-align: center !important;
}

.hover-opacity {
  opacity: 1;
  -webkit-transition: opacity 0.1s 0s;
  -webkit-transition-delay: cubic-bezier(0.42, 0, 1, 1);
  -moz-transition: opacity 0.1s 0s cubic-bezier(0.42, 0, 1, 1);
  -o-transition: opacity 0.1s 0s cubic-bezier(0.42, 0, 1, 1);
  transition: opacity 0.1s 0s cubic-bezier(0.42, 0, 1, 1);
  -webkit-backface-visibility: hidden;
}
.hover-opacity:hover {
  opacity: 0.65 !important;
}

.hover-opacity-noanimate {
  opacity: 1;
}
.hover-opacity-noanimate:hover {
  -webkit-transition: 0 0s false;
  -moz-transition: 0 0s false false;
  -o-transition: 0 0s false false;
  transition: 0 0s;
  opacity: 0.65 !important;
}

.hover-underline, .hover-underline > * {
  text-decoration: none;
}
.hover-underline:hover, .hover-underline > *:hover {
  text-decoration: underline;
}

.hover-highlight {
  background: transparent;
  -webkit-transition: background 0.1s 0s;
  -webkit-transition-delay: cubic-bezier(0.42, 0, 1, 1);
  -moz-transition: background 0.1s 0s cubic-bezier(0.42, 0, 1, 1);
  -o-transition: background 0.1s 0s cubic-bezier(0.42, 0, 1, 1);
  transition: background 0.1s 0s cubic-bezier(0.42, 0, 1, 1);
}
.hover-highlight:hover {
  background: rgba(0, 0, 0, 0.2) !important;
}

.show-alpha-in {
  -webkit-animation: alphaIn 0.1s 0.1s cubic-bezier(0.42, 0, 1, 1) backwards;
  -moz-animation: alphaIn 0.1s 0.1s cubic-bezier(0.42, 0, 1, 1) backwards;
  -o-animation: alphaIn 0.1s 0.1s cubic-bezier(0.42, 0, 1, 1) backwards;
  animation: alphaIn 0.1s 0.1s cubic-bezier(0.42, 0, 1, 1) backwards;
}

.hide-alpha-out {
  -webkit-animation: alphaOut 0.2s 0.2s cubic-bezier(0, 0, 0.58, 1) forwards;
  -moz-animation: alphaOut 0.2s 0.2s cubic-bezier(0, 0, 0.58, 1) forwards;
  -o-animation: alphaOut 0.2s 0.2s cubic-bezier(0, 0, 0.58, 1) forwards;
  animation: alphaOut 0.2s 0.2s cubic-bezier(0, 0, 0.58, 1) forwards;
}

.slide-left {
  -webkit-animation: slideLeft 0.3s 0s cubic-bezier(0.42, 0, 1, 1) forwards;
  -moz-animation: slideLeft 0.3s 0s cubic-bezier(0.42, 0, 1, 1) forwards;
  -o-animation: slideLeft 0.3s 0s cubic-bezier(0.42, 0, 1, 1) forwards;
  animation: slideLeft 0.3s 0s cubic-bezier(0.42, 0, 1, 1) forwards;
}

.slide-right {
  -webkit-animation: slideRight 0.3s 0s cubic-bezier(0, 0, 0.58, 1) forwards;
  -moz-animation: slideRight 0.3s 0s cubic-bezier(0, 0, 0.58, 1) forwards;
  -o-animation: slideRight 0.3s 0s cubic-bezier(0, 0, 0.58, 1) forwards;
  animation: slideRight 0.3s 0s cubic-bezier(0, 0, 0.58, 1) forwards;
}

@-webkit-keyframes alphaIn {
  to {
    opacity: 1;
  }
}
@-moz-keyframes alphaIn {
  to {
    opacity: 1;
  }
}
@-o-keyframes alphaIn {
  to {
    opacity: 1;
  }
}
@keyframes alphaIn {
  to {
    opacity: 1;
  }
}
@-webkit-keyframes alphaOut {
  to {
    opacity: 0;
  }
}
@-moz-keyframes alphaOut {
  to {
    opacity: 0;
  }
}
@-o-keyframes alphaOut {
  to {
    opacity: 0;
  }
}
@keyframes alphaOut {
  to {
    opacity: 0;
  }
}
@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-moz-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-o-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-moz-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-o-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@keyframes slideRight {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: ease-out false false;
    -moz-transition: ease-out false false false;
    -o-transition: ease-out false false false;
    transition: ease-out;
  }
  75% {
    opacity: 1;
    -webkit-transform: rotate(900deg);
    -moz-transform: rotate(900deg);
    -ms-transform: rotate(900deg);
    -o-transform: rotate(900deg);
    transform: rotate(900deg);
    -webkit-transition: ease-out false false;
    -moz-transition: ease-out false false false;
    -o-transition: ease-out false false false;
    transition: ease-out;
    -webkit-origin: 70%;
    origin: 0%;
  }
  76% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
    -moz-transform: rotate(900deg);
    -ms-transform: rotate(900deg);
    -o-transform: rotate(900deg);
    transform: rotate(900deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
    -moz-transform: rotate(900deg);
    -ms-transform: rotate(900deg);
    -o-transform: rotate(900deg);
    transform: rotate(900deg);
  }
}
@-moz-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: ease-out false false;
    -moz-transition: ease-out false false false;
    -o-transition: ease-out false false false;
    transition: ease-out;
  }
  75% {
    opacity: 1;
    -webkit-transform: rotate(900deg);
    -moz-transform: rotate(900deg);
    -ms-transform: rotate(900deg);
    -o-transform: rotate(900deg);
    transform: rotate(900deg);
    -webkit-transition: ease-out false false;
    -moz-transition: ease-out false false false;
    -o-transition: ease-out false false false;
    transition: ease-out;
    -webkit-origin: 70%;
    origin: 0%;
  }
  76% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
    -moz-transform: rotate(900deg);
    -ms-transform: rotate(900deg);
    -o-transform: rotate(900deg);
    transform: rotate(900deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
    -moz-transform: rotate(900deg);
    -ms-transform: rotate(900deg);
    -o-transform: rotate(900deg);
    transform: rotate(900deg);
  }
}
@-o-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: ease-out false false;
    -moz-transition: ease-out false false false;
    -o-transition: ease-out false false false;
    transition: ease-out;
  }
  75% {
    opacity: 1;
    -webkit-transform: rotate(900deg);
    -moz-transform: rotate(900deg);
    -ms-transform: rotate(900deg);
    -o-transform: rotate(900deg);
    transform: rotate(900deg);
    -webkit-transition: ease-out false false;
    -moz-transition: ease-out false false false;
    -o-transition: ease-out false false false;
    transition: ease-out;
    -webkit-origin: 70%;
    origin: 0%;
  }
  76% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
    -moz-transform: rotate(900deg);
    -ms-transform: rotate(900deg);
    -o-transform: rotate(900deg);
    transform: rotate(900deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
    -moz-transform: rotate(900deg);
    -ms-transform: rotate(900deg);
    -o-transform: rotate(900deg);
    transform: rotate(900deg);
  }
}
@keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: ease-out false false;
    -moz-transition: ease-out false false false;
    -o-transition: ease-out false false false;
    transition: ease-out;
  }
  75% {
    opacity: 1;
    -webkit-transform: rotate(900deg);
    -moz-transform: rotate(900deg);
    -ms-transform: rotate(900deg);
    -o-transform: rotate(900deg);
    transform: rotate(900deg);
    -webkit-transition: ease-out false false;
    -moz-transition: ease-out false false false;
    -o-transition: ease-out false false false;
    transition: ease-out;
    -webkit-origin: 70%;
    origin: 0%;
  }
  76% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
    -moz-transform: rotate(900deg);
    -ms-transform: rotate(900deg);
    -o-transform: rotate(900deg);
    transform: rotate(900deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
    -moz-transform: rotate(900deg);
    -ms-transform: rotate(900deg);
    -o-transform: rotate(900deg);
    transform: rotate(900deg);
  }
}
.loading-container {
  width: 100%;
  height: 100vh;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 25;
}
.loading-container .loading-balls {
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
}
.loading-container .loading-balls .ball {
  position: absolute;
  width: 23px;
  height: 23px;
  opacity: 0;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
  -webkit-animation: orbit 4s infinite;
  -moz-animation: orbit 4s infinite;
  -o-animation: orbit 4s infinite;
  animation: orbit 4s infinite;
}
.loading-container .loading-balls .ball .inner-ball {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #FF9715;
  left: 0px;
  top: 0px;
  border-radius: 5px;
}
.loading-container .loading-balls #ball_1 {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.loading-container .loading-balls #ball_2 {
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}
.loading-container .loading-balls #ball_3 {
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}
.loading-container .loading-balls #ball_4 {
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}
.loading-container .loading-balls #ball_5 {
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}

.default-form {
  width: 80%;
  height: auto;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-100%);
  -moz-transform: translateX(-50%) translateY(-100%);
  -ms-transform: translateX(-50%) translateY(-100%);
  -o-transform: translateX(-50%) translateY(-100%);
  transform: translateX(-50%) translateY(-100%);
  max-width: 480px;
  border: 4px solid #FF9715;
  border-top: none;
  z-index: 1;
  padding: 10px 10px 20px 10px;
  background-color: #021019;
  opacity: 0.9;
  margin-top: -4px;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: -moz-transform 0.6s cubic-bezier(0.42, 0, 0.58, 1) false;
  -o-transition: -o-transform 0.6s cubic-bezier(0.42, 0, 0.58, 1) false;
  transition: transform 0.6s cubic-bezier(0.42, 0, 0.58, 1);
}
.default-form.expanded {
  -webkit-transform: translateX(-50%) translateY(0%);
  -moz-transform: translateX(-50%) translateY(0%);
  -ms-transform: translateX(-50%) translateY(0%);
  -o-transform: translateX(-50%) translateY(0%);
  transform: translateX(-50%) translateY(0%);
}
.default-form .default-label {
  width: 100%;
  height: 32px;
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
  color: #FF9715;
}
.default-form .default-input {
  width: calc(100% - 20px);
  height: 100%;
  border: none;
  background-color: #FF9715;
  opacity: 0.8;
  padding-left: 10px;
  font-family: BebasNeue;
}
.default-form .default-input.placeholder {
  color: #000;
}
.default-form .default-input:-moz-placeholder {
  color: #000;
}
.default-form .default-input::-moz-placeholder {
  color: #000;
}
.default-form .default-input:-ms-input-placeholder {
  color: #000;
}
.default-form .default-input::-webkit-input-placeholder {
  color: #000;
}
.default-form #submit {
  margin: 35px 0 0 5px;
  border: none;
  background: transparent;
  font-family: BebasNeue;
  font-size: 18px;
  font-size: 1.125em;
  color: #FF9715;
  cursor: pointer;
}
.default-form .bt-expand {
  width: 60%;
  height: 50px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  font-size: 18px;
  font-size: 1.125em;
  font-family: BebasNeue;
  line-height: 50px;
  margin-top: 20px;
  background-color: #021019;
  color: #FF9715;
  text-align: center;
  cursor: pointer;
  border: 4px solid #FF9715;
  border-top: none;
}

.home {
  width: 100%;
  height: 100%;
  position: relative;
}
.home .result-routes {
  width: calc(90% - 28px);
  height: auto;
  max-width: 480px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0;
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(100%);
  -moz-transform: translateX(-50%) translateY(100%);
  -ms-transform: translateX(-50%) translateY(100%);
  -o-transform: translateX(-50%) translateY(100%);
  transform: translateX(-50%) translateY(100%);
  max-width: 480px;
  border: 4px solid #FF9715;
  border-bottom: none;
  z-index: 1;
  padding: 10px 10px 20px 10px;
  background-color: #021019;
  opacity: 0.9;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: -moz-transform 0.6s cubic-bezier(0.42, 0, 0.58, 1) false;
  -o-transition: -o-transform 0.6s cubic-bezier(0.42, 0, 0.58, 1) false;
  transition: transform 0.6s cubic-bezier(0.42, 0, 0.58, 1);
}
.home .result-routes.expanded {
  -webkit-transform: translateX(-50%) translateY(0%);
  -moz-transform: translateX(-50%) translateY(0%);
  -ms-transform: translateX(-50%) translateY(0%);
  -o-transform: translateX(-50%) translateY(0%);
  transform: translateX(-50%) translateY(0%);
}
.home .result-routes .title, .home .result-routes .desc {
  width: 45%;
  display: inline-block;
  color: #FF9715;
  font-size: 12px;
}
@media (min-width: 414px) and (max-width: 1440px) {
  .home .result-routes .title, .home .result-routes .desc {
    font-size: calc(12px + (16 - 12) * ( (100vw - 414px) / ( 1440 - 414)));
  }
}
@media (min-width: 1440px) {
  .home .result-routes .title, .home .result-routes .desc {
    font-size: 16px;
  }
}

.maps-box {
  width: 100%;
  height: 100%;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
}
.maps-box .maps-directive {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  border: 4px solid #FF9715;
}
.maps-box .maps-directive .map-container {
  width: 100%;
  height: 100%;
}
.maps-box .maps-directive .map-container .map {
  width: 100%;
  height: 100%;
}

#travel-mode {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 338px;
  height: 30px;
  border: 4px solid #FF9715;
  border-bottom: none;
  z-index: 1;
  background-color: #021019;
  color: #ffffff;
  opacity: 0.9;
}

#travel-route {
  position: absolute;
  overflow-y: auto;
  z-index: 1;
  top: 30px;
  right: 0;
  width: 320px;
  height: calc(100% - 48px);
  border: 4px solid #FF9715;
  z-index: 1;
  padding: 5px;
  background-color: #ffffff;
  opacity: 0.9;
}

.adp-straight {
  background-image: url("../img/directions-sprt.png") !important;
  background-repeat: no-repeat !important;
  background-position: 0 0 !important;
  background-size: 16px 52px !important;
}

.adp-turn-right, .adp-keep-right {
  background-image: url("../img/directions-sprt.png") !important;
  background-repeat: no-repeat !important;
  background-position: 0 -19px !important;
  background-size: 16px 52px !important;
}

.adp-keep-left, .adp-turn-left {
  background-image: url("../img/directions-sprt.png") !important;
  background-repeat: no-repeat !important;
  background-position: 0 -37px !important;
  background-size: 16px 52px !important;
}
